body{
    background-color: rgb(204, 219, 187);
}

button{
    background-color: #eab03c;
    font-size: 1.5em;
}

.room{
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    margin-top: 15rem;
    text-align: center;
}

.room input{
    font-size: 1.5rem;
}