body{
    background-color: rgb(204, 219, 187);
}

h1{
    margin-top: -2rem;
    z-index: 20;
    text-align: center;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: #791e00;
}

p{
    text-align: left;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: black;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.background-container {
    width: 100%;
    height: 480px;
    position: relative;
    z-index: -1;
}

.background-image {
    background-color: rgb(204, 219, 187);
    height: auto;
    text-align: center;
    width: 100%;
}

.background-image, .image-overlay {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

img {
    height: 480px;
    width: 640px;
}

.image-overlay {
    background-color: black;
    opacity: 0.1;
    height: 25rem;
    width: 100%;
    z-index: 10;
}

